.app {
  background: var(--var-bg-app);
}

.chets {
  width: 100%;
  margin: auto;
  height: 50vh;
  max-height: 200px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 20px;
}

.chets::-webkit-scrollbar {
  display: none;
}

.addchet {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  height: 114px;
  padding: 10px 25px;
  color: var(--var-body-fc);
  background: var(--var-bg-balance-block);
  box-shadow: var(--var-shadow-balance-block) 0 0 20px, var(--var-shadow-balance-block) 0 0 20px;
  border-radius: 20px;
  border: none;
}

.addchet:hover {
  opacity: 0.7;
}

.transactions {
  width: 100%;
  height: 50vh;
  min-height: 160px;
  overflow-y: auto;
}

.transactions::-webkit-scrollbar {
  display: none;
}